<%-include('../tela01') %>
<form method="post">
    <input type="text" name="pesquisar" id="pesquisar" placeholder="Digite aqui o que você deseja pesquisar!">
    <input type="submit" value="Pesquisar">
</form>
<table>
    <tr>
        <th>_id</th>
        <th>Nome do Produto</th>
        <th>Preço do Produto</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Email</th>
        <th>Endereço</th>
        <th>Cidade</th>
        <th>CEP</th>
        <th>Celular</th>
        <th>Deleta</th>
    </tr>

    <% Pedidos.forEach(function(pedido) { %>
    <tr>
        <td><%= pedido._id %></td>
        <% if (pedido.produto) { %>
            <td><%= pedido.produto.titulo %></td> <!-- Campo do nome do produto -->
            <td><%= pedido.produto.preco %></td> <!-- Campo do preço do produto -->
        <% } else { %>
            <td>Não definido</td>
            <td>Não definido</td>
        <% } %>
        <td><%= pedido.nome %></td>
        <td><%= pedido.cpf %></td>
        <td><%= pedido.email %></td>
        <td><%= pedido.endereco %></td>
        <td><%= pedido.cidade %></td>
        <td><%= pedido.cep %></td>
        <td><%= pedido.celular %></td>
        <td>
            <a href="/pedido/del/<%= pedido._id %>">Deletar</a>
        </td>
    </tr>
    <% }) %>
</table>
<%-include('../rodape') %>
