<%-include('../tela01')-%>
<h1>Edita Produto</h1>
<form method="post" enctype="multipart/form-data">
    Titulo: <input type="text" name="titulo" id="titulo" value="<%=Produto.titulo%>"><br />
    Descrição: <input type="text" name="descricao" id="descricao" value="<%=Produto.descricao%>"><br />
    Foto: <input type="file" name="foto" id="foto"><br />
    Preço: <input type="number" name="preco" id="preco" value="<%=Produto.preco%>"><br />
    <input type="submit" value="Adicionar">
</form>
<%-include('../rodape')-%>